ion-card-title {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  ion-item {
    --border-color: #f0f0f0;
    margin-bottom: 8px;
  }
  
  ion-fab-button {
    --background: #4CAF50;
  }
  
  ion-text p {
    font-size: 1em;
    color: #666;
  }
  