.appointment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  /* Đảm bảo thẻ ion-card và nội dung bên trong có chiều dài bằng appointment-container */
  ion-card {
    width: 100%;        /* Đảm bảo thẻ ion-card chiếm hết chiều ngang của container */
    max-width: 100%;    /* Giới hạn chiều rộng tối đa bằng với appointment-container */
    box-shadow: none;   /* Nếu không muốn có bóng riêng biệt cho từng ion-card */
    margin-bottom: 10px;
  }
  
  ion-item, ion-datetime {
    width: 100%;
  }
  
  ion-button {
    width: 100%;
  }
  
  ion-grid {
    width: 100%;
  }
  