
<ion-content [fullscreen]="true">
<div class="bg-mid">
  <img src="assets/img1.png" class="logo"/>
  <div class="title">
    
    <h2>Welcome to Elise Hopital</h2>
    <p>Luôn luôn lắng nghe, tận tâm làm việc</p>
  </div>

  <div class="ion-margin-top" color="new">
    <ion-button expand="block" class="ion-margin-top" (click)="login()" color="white">LOGIN</ion-button>
    <ion-button expand="block" class="ion-margin-top" (click)="signUp()" color="white">SIGN UP</ion-button>

  </div>
</div>
</ion-content>
